{% extends '::base.html.twig' %}

{% block sidebar %}
{% render "FourChimpsAdminBundle:Navigation:_sidebar" %}
{% endblock %}

{% block body %}
    <h1>Admin Dashboard</h1>

    {% for table in tables %}
        {% render "FourChimpsAdminBundle:Dashboard:tablestats" %}
    {% endfor %}

{% endblock %}

{% block admin_nav_class%} active{% endblock %}