{% extends 'FourChimpsAdminBundle::dashboard.html.twig' %}

{# Render each section #}
{% block body %}
    <h1>Admin Dashboard</h1>
    {% for table in tables %}
        {% render "FourChimpsAdminBundle:Dashboard:tablestats" with { "table" : table.name} %}
    {% endfor %}
{% endblock %}

