/* Global styles - variables isnt imported here so redeclare anything boostrappy that you need */

@grayLighter:           #BBBFC2;

@red:                   #9d261d;
@redLighter:            lighten(@red, 15%);
@redDarker:             darken(@red, 10%);
@redDark:               darken(@redDarker, 10%);

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.hero-unit  {
    padding: 70px;
}

small {
    font-size: smaller;
}

.navbar .nav > li.text {
    padding: 9px 10px 11px;
    line-height: 19px;
    color: @grayLighter;
}


