/* Global styles - variables isnt imported here so redeclare anything boostrappy that you need */

@grayLighter:           #BBBFC2;


body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.hero-unit  {
    padding: 70px;
}

small {
    font-size: smaller;
}

.navbar .nav > li.text {
    padding: 9px 10px 11px;
    line-height: 19px;
    color: @grayLighter;
}

form-actions {
    background-color: red;
}