
{% extends 'FourChimpsAdminBundle:Dashboard:dashboard.html.twig' %}

{% block body %}
    <h1>Article List</h1>

    <table class="sortable_records_list table table-striped table-bordered table-hover" id="list-table">
        <thead>
        <tr>
            {% for column in columns %}
                {% if( not column.isMetaData()) %}
                    <th>{{ column.getAlias() }}</th>
                {% endif %}
            {% endfor %}
{#            <th width="5%">Id</th>
            <th width="50%">Headline</th>
            <th width="20%">Author</th>
            <th width="10%">Status</th>
            <th width="15%">Created</th> #}
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="7" class="dataTables_empty">Loading data from server</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th><input type="text" class="search_init" style="width:40px"></th>
            <th><input type="text" class="search_init" style="width:220px"></th>
            <th><input type="text" class="search_init" style="width:110px"></th>
            <th><select class="search_init" style="width:100px">
                    <option selected="selected"></option>
                    <option>Published</option>
                    <option>Hero</option>
                    <option>Section</option>
                </select>
            </th>
            <th><input type="text" class="search_init" style="width:60px"></th>
        </tr>
        </tfoot>
    </table>

    <a class = "btn" href="{{ path('article_new') }}">
        <i class="icon-white icon-plus-sign"></i>
        Create a new article
    </a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include "FourChimpsAdminBundle::_datatable.html.twig" with { 'ajax_path' : path('list_articles'),
                                                                    'edit_path' : path('admin_article_edit', {'id':'ID_PLACEHOLDER'})
     } %}
{% endblock %}

