{# Partial for rendering hero-unit articles in carousel #}
<div id="hero-carousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        {% for entity in entities %}
        <div class="{% if loop.first %}active {% endif%}item">
            {% include 'FourChimpsArticleBundle:Article:_article.html.twig' with {
                'entiry' : entity,
                'headline_tag' : 'h1',
                'article_class' : 'hero-unit',
                'show_author' : false,
                'button_class' : 'btn-primary btn-large'
            } %}
        </div>
        {% endfor %}
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#hero-carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#hero-carousel" data-slide="next">&rsaquo;</a>
</div>
