<div class="row">
    {% for entity in entities %}
        {% include 'FourChimpsArticleBundle:Article:_article.html.twig' with {
                'entiry' : entity,
                'headline_tag' : 'h2',
                'article_class' : 'span3',
                'show_author' : false,
                'button_class' : ''
        } %}
    {% endfor %}
</div><!--/row-->