{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function(){
            $('#hero-carousel').carousel({
                interval: 7000
            });

            $('#hero-carousel').carousel('cycle');
        });
    </script>
{% endblock %}

{% block sidebar %}
    {% render "FourChimpsArticleBundle:TagGroup:sidebar" %}
{% endblock %}

{% block body %}
    {% render "FourChimpsArticleBundle:Article:partialTag" with { 'tagName' : 'layout_hero', 'templateFragment':'_hero' } %}

    {% for entity in entities %}
        <section class="row">
            {% include 'FourChimpsArticleBundle:Article:_article.html.twig' with {
                'entiry' : entity,
                'headline_tag' : 'h2',
                'article_class' : 'span9',
                'show_author' : true,
                'button_class' : ''
            } %}
        </section><!--/row-->
    {% endfor %}

    <hr/>

    {% render "FourChimpsArticleBundle:Article:partialTag" with { 'tagName' : 'layout_section', 'templateFragment':'_sections' } %}
{% endblock%}
