
{% extends 'FourChimpsAdminBundle:Dashboard:dashboard.html.twig' %}

{% block body %}
        
    {% form_theme form 'FourChimpsThemeBundle:Form:theme.html.twig' %}
        

<h1>TagGroup creation</h1>

<form class="well form-horizontal" action="{{ path('admin_taggroup_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <div class="form-actions">
        <button class="btn btn-success" type="submit">
        	<i class="icon-white icon-plus-sign"></i>
        	Create
        </button>
    </div>
</form>

<div class="record_actions">
    
        <a class="btn" href="{{ path('admin_taggroup') }}">
            <i class="icon-chevron-left"></i>
            Back to the list
        </a>
    
    
    </div>



{% endblock %}
