<div class="span3">
    <nav class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Table Row Editor</li>
            {% for link in links %}
                <li><a href="{{ link.path }}">{{ link.name }}</a></li>
            {% endfor %}
        </ul>
    </nav><!--/.well -->
</div><!--/span-->